/* You can add global styles to this file, and also import other style files */
.form-group>input{
    font-weight: bolder;
}

.form-group>select{
    font-weight: bolder;
}
.form-group input::placeholder{
    color:rgb(59, 57, 57);
    font-weight:bold;
    font-size: small;
   
}
table tobody tr:hover{
    background-color: rgb(143, 188, 255 , 0.664);
    cursor: pointer;
}

input.invalid{
    border-color: red;    
}

div.validation-error{
    width: 100%;
    margin-top:.25em;
    font-size: 80%;
    color: #dd3535;
}