<form name="empForm" #form="ngForm" autocomplete="off"
(ngSubmit)="onSubmit(form)">


    <!--Employee ID-->
    <input type="text" name="EmployeeId" [(ngModel)]="empService.formData.EmployeeId">
    <!--Employee Name-->
    <div class="form-group">
        <label>Full Name</label>
        <input name="EmployeeName" #EmployeeName="ngModel" [(ngModel)]="empService.formData.EmployeeName"
            class="form-control" placeholder="Enter Full Name" minlength="10" maxlength="25" required
            [ngClass]="{'is-invalid': EmployeeName.touched && EmployeeName.invalid}" />

        <div class="validation-error" *ngIf="EmployeeName.touched && EmployeeName.invalid">
            <div *ngIf="EmployeeName.errors.required">First Name is Required</div>

        </div>
    </div>

    <!--Designation-->
    <div class="form-group">
        <label>Designation</label>
        <input name="Designation" #Designation="ngModel" [(ngModel)]="empService.formData.Designation"
            class="form-control" placeholder="Enter Designation" minlength="2" maxlength="25" required
            [ngClass]="{'is-invalid': Designation.touched && Designation.invalid}" />

        <div class="validation-error" *ngIf="Designation.touched && Designation.invalid">
            <div *ngIf="Designation.errors.required">Designation is Required</div>

        </div>
    </div>

    <!--Date of Joining-->
    <div class="form-group">
        <label>Date of joining</label>
        <input type="date" name="DateOfJoining" #DateOfJoining="ngModel" [(ngModel)]="empService.formData.DateOfJoining"
            class="form-control" id="DateOfJoining" required
            [ngClass]="{'is-invalid': DateOfJoining.touched && DateOfJoining.invalid}" />

        <div class="validation-error" *ngIf="DateOfJoining.touched && DateOfJoining.invalid">
            <div *ngIf="DateOfJoining.errors.required">Date Of Joining is Required</div>
        </div>
    </div>

    <!--Department-->
    <div class="form-group">
        <label class="col-md-4">Department</label>
        <select name="DepartmentId" id="DepartmentId" class="form-control" #DepartmentId="ngModel" required
            [(ngModel)]="empService.formData.DepartmentId">

            <option value=0 disabled>Choose Department</option>
            <option *ngFor="let dept of empService.departments" 
            value="{{dept.DepartmentId}}">{{dept.DepartmentName}}</option>
            
        </select>
        <div class="validation-error" *ngIf="DepartmentId.touched && DepartmentId.invalid">
            <div *ngIf="DepartmentId.errors.required">Department is Required</div>
        </div>
    </div>

    <!--Is Active-->
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">Is Active</label>
            <input type="checkbox" name="IsActive" id="IsActive" #IsActive="ngModel"
                [(ngModel)]="empService.formData.IsActive" class="form-check-input">
        </div>
    </div>

    <!--Submit Button-->
    <div class="form-group">
        <br>
        <button type="submit" [disabled]="!(form.valid && form.dirty )"
            class="btn btn-lg btn-primary form-control">

            Submit
        </button>
    </div>


</form>
