<div class="container">
    <div>
        <h3>Login Here</h3>
        <hr>

        <!--Reactive form-->
        <form [formGroup]="loginForm" (ngSubmit)="loginCredentials()">

            <!--username-->
            <div>
                <input type="text" placeholder="Enter username" formControlName="UserName" autocomplete="off"
                    required />
            </div>

            <div *ngIf="isSubmitted && formControls.UserName.errors">
                <div *ngIf="formControls.UserName.errors.required" style="color:red; text-align: left;">
                    User name is required
                </div>
            </div>

            <br>

            <!--userpassword-->
            <div>
                <input type="password" placeholder="Enter password" formControlName="UserPassword" autocomplete="off"
                    required />
            </div>

            <div *ngIf="isSubmitted && formControls.UserPassword.errors">
                <div *ngIf="formControls.UserName.errors.required" style="color:red; text-align: left;">
                    password is required
                </div>
            </div>
            <br>
            <div>
                <button class="btn btn-md btn-outline-primary">
                    <i class="fa fa-sign-in"></i>
                    Login
                </button>

                &nbsp;
                <button class="btn btn-md btn-outline-primary" (click)="loginVerifyTest()">
                    <i class="fa fa-sign-in"></i>
                    Testing
                </button>
                
            </div>
            <div *ngIf="error" style="color: red; text-align: left;">{{error}}

            </div>


        </form>



    </div>

</div>